@import '../../style/mixins';
@import '../../style/variables';

.button {
  font-family: inherit;
  @include font_body;

  width: 100px;
  height: 34px;
  border-radius: 80px;
  background-color: $primary;
  border: none;
  
  cursor: pointer;

  &:hover {
    background-color: $primaryHover;
  }

  &:disabled {
    background-color: $disabled;
    color: $white;
  }
}